
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.jobs {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-green:hsl(180, 29%, 50%);
  --light-green: hsl(180, 52%, 96%);
  font-size: 15px;
  background: var(--light-green);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.myheader{
  min-height: 150px;
  background: var(--dark-green);
  
}

.filterList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 90%;
  background: white;
  margin: auto;
  padding: .5em .5em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transform:translateY(-25px);
  -webkit-transform:translateY(-25px);
  -moz-transform:translateY(-25px);
  -ms-transform:translateY(-25px);
  -o-transform:translateY(-25px);
  -webkit-box-shadow: 0px 12px 50px -4px rgba(91,164,164,0.5); 
  box-shadow: 0px 12px 50px -4px rgba(91,164,164,0.5);
}

.filterList-tags {
  flex-grow: 2;
  display:flex;
  flex-wrap: wrap;
}

.filterList h2 {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin: 0 .25em .25em 0;
  padding: 0 0 0 .25em;
  box-sizing: border-box;
  background: var(--light-green);
  color: var(--dark-green);
  font-size: 1.25em;
  border-radius: 5px;;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.filterList h2 span {
  width: 20px;
  height: 20px;
  text-align: center;
  background: var(--dark-green);
  color: white;
  padding: .25em;
  font-size: .75em;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.JobItem {
  position: relative;
  max-width: 80%;
  margin: 3em auto;
  padding: 1em 2em;
  background: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-box-shadow: 0px 12px 50px -4px rgba(91,164,164,0.5); 
  box-shadow: 0px 12px 50px -4px rgba(91,164,164,0.5);
}

.featured:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10px;
  background: var(--dark-green);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.JobItem-left__Avatar {
  transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
}

.JobItem-left__Avatar figure {
  margin: 0 0 0 .5em;
}

.JobItem-left__Avatar img {
  max-width: 50px;
}

.JobItem-left__content-Text span:first-child {
  margin: 0 1em 0 0;
  font-weight: 700;
  color: var(--dark-green);
}

.JobItem-left__content-Text span+span {
  margin: 0 .5em 0 0;
  padding: .25em .5em;
  font-weight: 700;
  text-transform: uppercase;
  background: var(--dark-green);
  color: white;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.JobItem-left__content-Text span+span+span{
  background: black;
}

.JobItem-left__content-Text h2 {
  font-size: 1.25em;
}

.JobItem-left__content-Meta {
  color: grey;
}

.JobItem-left__content-Meta span:nth-child(-n+2):after{
  content:"· ";
}

.JobItem-right {
  margin: 1em 0 0 0;
  padding: 1em 0;
  border-top: 1px solid grey;
}

.JobItem-right__Taxonomy {
  display: flex;
  flex-wrap: wrap;
}

.JobItem-right__Taxonomy span {
  width: 30%;
  margin: .25em .5em 1em 0;
  padding: .25em .5em;
  box-sizing:border-box;
  font-weight: 700;
  background: var(--light-green);
  color: var(--dark-green);
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  cursor: pointer;
}

.JobItem-right__Taxonomy span:hover {
  background: var(--dark-green);
  color: white;
}

@media(min-width:640px){
  .JobItem {
    max-width: 90%;
  }
}

@media (min-width: 768px){
  .JobItem {
    display: flex;
    justify-content: space-between;
  }


  .JobItem-left {
    display: flex;
    align-items: center;
  }

  .JobItem-left__Avatar {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

.JobItem-left__Avatar img {
  max-width: none;
  margin: 0 2em 0 0;
}

  .JobItem-right {
    display: flex;
    align-items: center;
    border: none;
  }

  .JobItem-right__Taxonomy {
    display: block;
  }
}

